*{
 margin:0;
padding:0;a
{
.cabecalho{
backgroud-color:#424E61
color:white
display:flex
justify-content:space-arround;
align-item:cente;
padding:24px 0;
}
body{
backgroud-color:#383D58
}
.cabecalho-imagem{
width 20%;
}
.cabecalho-lista-item[
display:itlin1-block;
margin:0 px;
front-seze;16px;
}
.escola-imagem{
 widdht:25%
}
.escola{
 backgroud-imagem
  
  segue no insta: @knz.correa tmj
 
